:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.graph-card {
  transition: transform 0.4s ease;
  border: #2b2b2b 1px solid;
}

.graph-card:hover {
  transform: scale(1.03);
}

#cy {
  background: radial-gradient(ellipse, #d3d3d3, #a3a3a3, #656565);
  border: 5px solid rgb(27, 26, 29);
  border-radius: 1rem;
  width: 700px;
  height: 400px;
}

.rainbow-hover {
  background: radial-gradient(ellipse, #e8e8e8, #a8a8a8, #656565);
  background-size: 400%;
  color: white; /* fallback */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 1s ease, transform 0.4s;

}

.rainbow-hover:hover {
  animation: rainbowFlow 2s linear infinite;
  transform: scale(1.15);
}

@keyframes rainbowFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* pour éviter les scrolls fantômes */
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: radial-gradient(ellipse, #4f4f4f, #2b2b2b, #1a1a1a);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  padding: 0.6em 2em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.4s;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  justify-content: center;
}

.btn-start {
  background-color: #8BC34A;
  border: 2px solid #4CAF50;
  font-size: 1.5em;
  padding: 0.8em 2.2em;
}

.btn-reset {
  background-color: #ff9800;
  border: 2px solid #e65100;
}

.btn-generate {
  background-color: #f33131;
  border: 2px solid #8a1b1b;
}

button:hover {
  transform: scale(1.05);
}

.btn-generate:hover {
  background-color: #c10e0e;
}

.btn-start:hover {
  background-color: #567c2d;
}

.btn-reset:hover {
  background-color: #a86007;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.card {
  padding: 2em;
}

.formNumberOfNodes {
  display: flex;
  margin-top: 0.5em;
  padding: 0.2em;
  flex-direction: column;
  font-size: 1em;
  text-align: center;
  border: 2px solid #8a1b1b;
  background-color: #f40000;
  border-radius: 0.5em;
  align-items: center;
  gap: 1rem;
}

.divForm {
  display: flex;
  margin-top: 0.5em;
  padding: 0.2em;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.3s, transform 0.4s;
}

.divForm:hover {
  transform: scale(1.05);
}

.graph-result{
  white-space: pre-line;
  margin-bottom: 10px;
  font-weight: bold;
  max-width: 600px;
  word-wrap: break-word;
}

.error-message {
  font-weight: bold;
  margin-top: 20px;
}
